<div class="">
  <table style="width:100%">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>MRP (per <%= unit %>)</th>
      <th>Uses</th>
    </tr>
    <% pro.each do |p| %>
    <tr>
      <td><%= p.code %></td>
      <td><%= p.name %></td>
      <td><%= p.mrp %></td>
      <td>
        <%= render 'shared/uses', :p => p %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
