<div class="flavour-title">
  <h1><%= title %></h1>
</div>
<div class="flavour-hide hidden">
  <div class="">
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>MRP (per <%= unit %>)</th>
        <th>Code</th>
      </tr>
      <% pro.each do |p| %>
        <tr>
          <td><strong><%= p.name %></strong></td>
          <td><%= p.mrp %></td>
          <td><em><%= p.code %></em></td>
        <td>
          <%= render 'shared/uses', :p => p %>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
