<div class= "flavour-line">
  <tr>
    <td>
    <div class="line-block">
      <%= link_to "", product_path(p), class: "fas fa-info-circle" %>
      <em><%= p.code %></em>
      <strong>&nbsp&nbsp&nbsp<%= p.name %></strong>
    </div>
    </td>
    <td><%= p.mrp %></td>
    <td>
      <%= render 'shared/uses', :p => p %>
    </td>
  </tr>
</div>
