<div class="container">
  <div class="legend hidden">
    <div class="close-button">
      <i class="fas fa-window-close"></i>
    </div>
    <%= render 'shared/legend_line', :img => "Green.png", :text => "Bakery" %>
    <%= render 'shared/legend_line', :img => "Red.png", :text => "Soft Drink" %>
    <%= render 'shared/legend_line', :img => "Blue.png", :text => "Ice Cream" %>
    <%= render 'shared/legend_line', :img => "Black.png", :text => "Other" %>

  </div>

  <div class="top-selling">
    <h1>TOP SELLING</h1>
    <%= render 'shared/topselling', :pro => @products.select{ |a| a.top_selling == true } %>
  </div>

  <div class="flavours-section", id="flavours">
    <h1>FLAVOURS</h1>
    <%= render 'shared/flavours_section', :unit => "Ltr", :pro => @products.select{ |a| (a.powder == false && a.sdc == false) } %>
  </div>

  <div class="flavours-section", id="sdc">
    <h1>SOFT DRINK CONC.</h1>
    <%= render 'shared/flavours_section', :unit => "Ltr", :pro => @products.select{ |a| (a.sdc == true) } %>
  </div>

  <div class="flavours-section", id="powder">
    <h1>POWDERS</h1>
    <%= render 'shared/flavours_section', :unit => "Kg", :pro => @products.select{ |a| (a.powder == true) } %>
  </div>
</div>
