<div class="cards">
  <% pro.each do |p| %>
  <div class="card-trip">
    <% begin %>
    <%= image_tag "#{p.id}.jpg", alt: p.name %>
    <% rescue %>
    <%= image_tag "Logo - JPG.jpg", alt: "Ashraj" %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2>
          <div class="name-row">
            <div class="">
              <%= p.name %>
              <%= link_to "", product_path(p), class: "fas fa-info-circle" %>
            </div>
            <%= render 'shared/uses', :p => p %>
          </div>
        </h2>
        <div class="code">Code - <%= p.code %> </div>
        <h2 class="card-trip-pricing"><%= p.mrp %> per Ltr/Kg</h2>
        <p><%= p.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
