<br>
<div class="col-xs-10 col-xs-offset-1 construction">
  <div class="heads">
    <h2>
      <strong>
        Aditya Develpers & Builders present:
        <br>
        1 BHK FLATS
      </strong>
    </h2>
  </div>
  <br>
  <h2>
    <strong>
      90 Lakhs, OC RECEIVED
      <br><br>
      Ready Possession
    </strong>
  </h2>
  <br>
  <h3>
    Inclduing Stamp Duty, Registration and GST.
  </h3>
  <h4>
    Andheri East, near the station.
  </h4>
</div>
<br><br>

<div class="card-product", id="get-in-touch">
  <div class="card-product-infos">
    <h1>
      For Booking:
    </h1>
    <div class="">
      <h3>
        <strong>Address:</strong> <a href="https://www.google.com/maps/place/Ashraj+Industries/@19.1148212,72.850154,15z/data=!4m5!3m4!1s0x0:0xae6a5b64bff107e9!8m2!3d19.1148212!4d72.850154">1034/1035, Hubtown Solaris, N. S. Phadke Marg, Andheri (East), Mumbai - 400 069</a>
        <br>
        <strong>Phone:</strong> <a href="tel:+918691016684">+91-869-101-6684</a>
        <br>
      </h3>
    </div>
  </div>
</div>
<br>
<div class="image-size container">
  <h3>
    Site Photo
  </h3>
  <%= image_tag "Building1.jpg" %>
  <h3>
    Typical Floor Plan
  </h3>
  <%= image_tag "FloorPlan.jpg" %>
  <h3>
    Site Location (Blue Circle)
  </h3>
  <p><%= link_to "Click here for Google Location", "https://goo.gl/maps/v2XwqYCXcbDHEFch8" %> </p>
  <%= image_tag "SiteLocation.jpg" %>
</div>



<div class="whatsapp">
  <%= image_tag("whatsapp.png", size: "140x140") %>
  <%= link_to "Schedule a call.", "https://api.whatsapp.com/send?phone=919920204292&text=Hello%20,%20please%20give%20me%20more%20details.&source=&data=", class: "" %>
</div>
