

<% activities = "We manufacture Nature Identical Flavours and Essential Oils. The essential oils provided by us find wide scale applications in the cosmetics, flavouring and pharmaceutical industries. This is due to various therapeutic benefits and also the distinct odour and flavour of these oils. The flavours we manufacture are used in all kinds of food and edible products like cakes, ice creams, and sweets, to name a few." %>
<% profile = "The company is currently dealing with over a 100 clients in varying volumes of work across all categories. Be it an order of 1 kg or several tons, the company looks to serve all customers. The vision is to reliably provide consistent and affordable products with complete ease of operations." %>
<% history = "Ashraj Industries is a young and quickly growing company, established only in 2011. This is a family run business with 4 key members. The proprietor, Mr. Rajesh Shah, established this company after 20 years of experience with Venus Trading Co., (established by his brother, Mr. Ashesh Shah in 1985). Both brothers have worked for Jupiter Trading Co. which was established by their father, Mr. Arvindkumar Shah in 1962. Thus, despite being established in 2011, Ashraj Industries is backed by heritage and experience of three generations over a span of 55 years. The latest entrants to the family business is the third generation, Miti and Jash. Over the years, the family and hence the company, has developed an amazing rapport and goodwill within the industry in India. Currently, the company boasts a strong clientele in the Indian market for both, purchases of raw materials and selling finished products, and is growing steadily as it always has been." %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/v1535388183/Ashraj/EO.jpg');">
  <div class="banner-content">
    <%#= image_tag "Ashraj - JPG.jpg", width: 300 %>
    <%#= image_tag "Ashraj - PNG.png", width: 300 %>
    <!-- <h1>Ashraj Industries</h1> -->
    <div class="whatsapp">
      <%= image_tag("whatsapp.png", size: "100x100") %>
      <%= link_to "Schedule a call.", "https://api.whatsapp.com/send?phone=919920204292&text=Hello%20Ashraj%20Industries,%20I%20found%20this%20number%20on%20your%20website.%20When%20would%20it%20be%20a%20good%20time%20to%20get%20on%20call?&source=&data=", class: "" %>
    </div>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="vertical">
      <h2>
        <%= link_to "View Products", prods_path, class: "btn-products" %>
      </h2>
    </div>
    <!-- <a class="btn btn-primary btn-lg">Products</a> -->
  </div>
</div>
<div class="home-image">
  <%= image_tag "Ashraj LOGO with TM.png", width: 300 %>
</div>
<%= render 'shared/home_briefs', :heading => "Profile", :text => profile %>
<%= render 'shared/home_briefs', :heading => "Activities", :text => activities %>
<%= render 'shared/home_briefs', :heading => "History", :text => history %>


<div class="card-product", id="get-in-touch">
  <div class="card-product-infos">
    <h2>
      Get in touch!
    </h2>
    <div class="">
      <p>
        <strong>Address:</strong> <a href="https://www.google.com/maps/place/Ashraj+Industries/@19.1148212,72.850154,15z/data=!4m5!3m4!1s0x0:0xae6a5b64bff107e9!8m2!3d19.1148212!4d72.850154">1035, Hubtown Solaris, N. S. Phadke Marg, Andheri (East), Mumbai - 400 069</a>
        <br>
        <strong>Phone:</strong> <a href="tel:+918691016684">+91-869-101-6684</a> / <a href="tel:+912226821340">+91-22-26821340</a> / <a href="tel:+912226821341">+91-22-26821341</a> / <a href="tel:+912226821342">+91-22-26821342</a>
        <br>
        <strong>E-mail:</strong> <a href="mailto:info@ashraj.in?Subject=Hello" target="_top">info@ashraj.in</a>
      </p>
    </div>
  </div>
</div>

<!-- <div class="bottom-margin-inverse"></div> -->
